/* Friends.css */

.friends-section {
    display: flex;
    height: 100vh;
}

.friends-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto;
}

.friend-profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px 0;
    transition: transform 0.3s;
}

.friend-profile-picture:hover {
    transform: scale(1.1);
}

.friend-ootd-section {
    flex: 3;
    padding: 20px;
    overflow-y: auto;
}

.friend-ootd .ootd-card {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.ootd-picture img {
    width: 50%;
    height: auto;
}

.recommended-clothes {
    padding: 10px;
}

.recommended-clothes h3 {
    margin: 0;
    padding: 0 0 10px;
}

.recommended-clothes img {
    width: 100px;
    height: auto;
    margin: 5px;
}
